<div class="demand-scroller">
  <div class="row text-right close-row">
      <div class="col-md-12"><i class="fa fa-times close-icon-hider"></i></div>
  </div>
  <div class="container" id="login-container">
    <h2 class="login-register-title text-center">Prendre rendez-vous</h2>
      {{#if haveToVerify}}
      <div class="haveVerified dem-page hidden">
        <h4>Disponibilités</h4>
        <p class="logn-register-paragraph" style="border:1px solid #dbdbdb;border-radius:3px;margin-bottom:50px;">{{stylebox.availability}}</p>
        <p class="logn-register-paragraph error-after">Choisissez la date et heure puis appuyez sur le boutton "Prendre rendez-vous".</p>
        <div class="row login-container-row demand-row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-calendar-check-o password-icon"></i></div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
                <input class="input-sm mainLoginInput login-register-text-field form_datetime" type="text" placeholder="Date et heure" readonly>
            </div>
        </div>
        <div class="row login-register-btn-row text-right">
            <div>
                <button class="btn btn-default login-register-btn submit-demand" type="button">Prendre rendez-vous</button>
            </div>
        </div>
      </div>
      {{/if}}
      <div class="all-demand-container">
        {{#if user}}
          {{#if haveToVerify}}
          <h4>Disponibilités</h4>
          <p class="logn-register-paragraph" style="border:1px solid #dbdbdb;border-radius:3px;margin-bottom:50px;">{{stylebox.availability}}</p>
          <p class="logn-register-paragraph">Pour la sécurité de notre plateforme, vous devez confirmer que vous êtes le propriétaire du numéro de téléphone et de l'adresse e-mail que vous avez fourni lors de votre inscription.</p>
            {{#unless user.varified}}
              <div class="row envoyer-un-message-btn login-register-btn-row email-verify-row text-right">
                  <div>
                      <button  class="acceptbtn resend-email-btn" type="button">Envoyez moi le lien de confirmation de email</button>
                  </div>
              </div>
              {{else}}
              <div class="row envoyer-un-message-btn login-register-btn-row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <h4 class="success-msg">Votre email est confirmé</h4></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                </div>
            {{/unless}}
            {{#unless user.phoneIsVerified}}
            <div class="phone-verify-row-2">
              <div class="row login-register-btn-row text-right">
                  <div>
                      <button  class="acceptbtn resendSms" type="button">Envoyez moi le code de confirmation mobile par sms</button>
                  </div>
              </div>
            </div>
            <div class="phone-verify-row">
              <div class="row login-container-row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-barcode password-icon"></i></div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
                      <input class="input-sm mainLoginInput login-register-text-field validation-code" type="password" minlength="6" placeholder="Code reçu par sms">
                  </div>
              </div>
              <div class="row login-register-btn-row text-right">
                  <div>
                      <button class="btn btn-default login-register-btn confirm-code" type="button">Confirmer</button>
                  </div>
              </div>
            </div>

            {{else}}
            <div class="row envoyer-un-message-btn login-register-btn-row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <h4 class="success-msg">Votre numéro a été confirmé</h4>
                </div>
            </div>
            {{/unless}}
          {{else}}
            <div class="dem-page">
              <h4>Disponibilités</h4>
              <p class="logn-register-paragraph" style="border:1px solid #dbdbdb;border-radius:3px;margin-bottom:50px;">{{stylebox.availability}}</p>
              <p class="logn-register-paragraph error-after">Choisissez la date et heure puis appuyez sur le bouton "Prendre rendez-vous".</p>
              <div class="row login-container-row demand-row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center login-register-filed-style"><i class="fa fa-calendar-check-o password-icon"></i></div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 login-register-field-style-2">
                      <input class="input-sm mainLoginInput login-register-text-field form_datetime" type="text" placeholder="Date et heure" readonly>
                  </div>
              </div>
              <div class="row login-register-btn-row text-right">
                  <div>
                      <button class="btn btn-default login-register-btn submit-demand" type="button">Prendre rendez-vous</button>
                  </div>
              </div>
            </div>
          {{/if}}
          {{else}}
          <div class="row login-register-btn-row">
            <h4>Disponibilités</h4>
            <p class="logn-register-paragraph" style="border:1px solid #dbdbdb;border-radius:3px;margin-bottom:50px;">{{stylebox.availability}}</p>
            <p class="logn-register-paragraph">Pour prendre rendez-vous avec le Relooker conectez-vous ou inscrivez-vous sur Fason.</p>
            <p class="register-link">Je n'ai pas de compte sur Fason</p>
          </div>
        {{/if}}
      </div>
  </div>
</div>
