<div class="row general-row stylebox-create-info-all-container">
  <input class="hidden stylebox-id-input" type="text" value="{{stylebox.id}}">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 general-column">
        <div class="stylebox-fields-container">
          <h2 class="login-register-title visible-xs-block">Informations</h2>
          <div class="row stylebox-info-input-row general-row">
            <div class="style-title-input-append">

            </div>
              <div class="col-md-12 general-column">
                  <input class="input-sm mainLoginInput stylebox-create-input style-title-input" type="text" placeholder="Titre de look" value="{{stylebox.title}}">
              </div>
              <div class="stylebox-create-input-title-span hidden">
                <div class="row visible-xs-block xs-field-info general-row">
                  <p class="xs-field-info-p">Le titre de look doit être court et compréhensible afin que le client comprenne tout de suite de quoi il s'agit.</p>
                </div>
              </div>
          </div>
          <div class="row stylebox-info-input-row general-row">
            <div class="style-price-input-append">

            </div>
            <div class="col-md-12 general-column">
                <input class="input-sm mainLoginInput stylebox-create-input style-price-input" type="text" inputmode="numeric" placeholder="Prix horaire" value="{{stylebox.price}}">
            </div>
          </div>
          <div class="row stylebox-info-input-row general-row">
              <div class="col-md-12 general-column">
                  <input class="input-sm mainLoginInput stylebox-create-input style-city-input" type="text" placeholder="Ville, si differend de votre ville" value="{{stylebox.city}}" disabled>
              </div>
          </div>
          <div class="row stylebox-info-input-row general-row">
              <div class="general-column">
                <div class="select-style-proper-append">
                </div>
                  <select class="wide stylebox-info-select select-gender select-style-proper importantzindex2">
                      <optgroup label="group3">
                        <option value="nothing" class="selectedStyle" >Look</option>
                        <option value="notihing" disabled>Styles vestimentaires</option>
                        <option value="casual">Casual</option>
                        <option value="businesscasual">Business casual</option>
                        <option value="businessformal">Business formal</option>
                        <option value="streetwear">Streetwear</option>
                        <option value="CocktailChic">Cocktail chic</option>
                        <option value="SemiFormal">Semi-formal</option>
                        <option value="BlackTie">Black tie</option>
                        <option value="WhiteTie">White tie</option>
                        <option value="Bohemian">Bohemian</option>
                        <option value="Arty">Arty</option>
                        <option value="Chic">Chic</option>
                        <option value="Classic">Classic</option>
                        <option value="Exotic">Exotic</option>
                        <option value="Flamboyant">Flamboyant</option>
                        <option value="Sophisticated">Sophisticated</option>
                        <option value="Sexy">Sexy</option>
                        <option value="Western">Western</option>
                        <option value="Traditional">Traditional</option>
                        <option value="Preppy">Preppy</option>
                        <option value="Punk">Punk</option>
                        <option value="Tomboy">Tomboy</option>
                        <option value="Rocker">Rocker</option>
                        <option value="Goth">Goth</option>
                        <option value="notihing" disabled>Beauté</option>
                        <option value="Coiffure">Coiffure</option>
                        <option value="Barbe">Tailler la barbe</option>
                        <option value="CoiffureColoration">Coiffure et coloration</option>
                        <option value="CoiffureBarbe,">Coiffure et tailler la barbe</option>
                        <option value="CoiffureColorationBarbe">Coiffure, coloration et tailler la barbe</option>
                        <option value="Maquillage">Maquillage</option>
                        <option value="Manucure">Manucure</option>
                        <option value="Pedicure">Pédicure</option>
                        <option value="ManucurePedicure">Manucure et pédicure</option>
                        <option value="Sourcils">Sourcils</option>
                        <option value="SoinVisage">Soin visage</option>
                        <option value="SoinCorp">Soin corps</option>
                        <option value="SoinVisageCorp">Soin visage et corps</option>
                      </optgroup>
                  </select>
              </div>
          </div>
          <div class="row stylebox-info-input-row general-row">
              <div class="general-column">
                <div class="select-minTime-proper-append">
                </div>
                  <select class="wide stylebox-info-select select-gender select-minTime-proper">
                      <optgroup label="Group1">
                        <option value="nothing" class="selectedTime importantzindex">Temps nécessaire</option>
                        <option value="1h">1h</option>
                        <option value="1h30">1h30</option>
                        <option value="2h">2h</option>
                        <option value="2h30">2h30</option>
                        <option value="3h">3h</option>
                        <option value="3h30">3h30</option>
                        <option value="4h">4h</option>
                        <option value="4h30">4h30</option>
                        <option value="5h">5h</option>
                        <option value="5h30">5h30</option>
                        <option value="6h">6h</option>
                        <option value="6h30">6h30</option>
                        <option value="7h">7h</option>
                        <option value="7h30">7h30</option>
                        <option value="8h">8h</option>
                        <option value="Plus que 8h">Plus que 8h</option>
                      </optgroup>
                  </select>
              </div>
          </div>
          <div class="row stylebox-info-input-row general-row">
              <div class="general-column">
                <div class="select-gender-proper-append">

                </div>
                  <select class="wide stylebox-info-select select-gender select-gender-proper">
                      <optgroup label="Group2">
                          <option value="nothing" class="selectedGender" >Pour femme ou homme</option>
                          <option value="ladies">Femme</option>
                          <option value="men">Homme</option>
                      </optgroup>
                  </select>
              </div>
          </div>

          <div class="row stylebox-info-input-row general-row">
            <div class="style-minbudget-input-append">

            </div>
              <div class="col-md-12 general-column">
                  <input class="input-sm mainLoginInput stylebox-create-input style-minbudget-input" type="text" inputmode="numeric" placeholder="Budget minimum" value="{{stylebox.minBudget}}">
              </div>
              <div class="stylebox-create-input-budget-span hidden">
                <div class="row visible-xs-block xs-field-info general-row">
                  <p class="xs-field-info-p">Si vous avez une idée de budget minimum, hors le coût de ce service, communiquez le montant approximatif. C'est une information optionnelle, mais très utile pour le client.</p>
                </div>
              </div>
          </div>
          <div class="row stylebox-info-input-row general-row">
            <div class="stylebox-description-append">

            </div>
              <div class="col-md-12 general-column last-field">
                  <textarea class="stylebox-create-textarea mainLoginInput stylebox-description" placeholder="Décrivez ce look (minimum 200 caractères)">{{stylebox.description}}</textarea>
              </div>
          </div>
        </div>
        <div class="bottom-fixed-div">
            <div class="row bottom-menu-row">
              <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6 text-left general-column background-helper zimportant">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-10 col-xs-6 text-right general-column background-helper">
                  <button class="btn btn-default hidden-xs small-size-btn login-register-btn stylebox-create-continue-btn" type="button">Suivant </button>
                  <button class="btn btn-default visible-xs-block large-btn login-register-btn stylebox-create-continue-btn" type="button">Suivant</button>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs general-column text-center stylebox-create-info-column">
        <div class="stylebox-create-tutorial">
            <h2 class="login-register-title">Informations </h2>
            <div class="row general-row">
                <div class="col-md-12 text-left">
                    <h4>Titre de look</h4>
                    <p>Le titre de look doit être court et compréhensible afin que le client comprenne tout de suite de quoi il s'agit.</p>
                </div>
            </div>
            <div class="row general-row">
                <div class="col-md-12 text-left">
                    <h4>Temps nécessaire</h4>
                    <p>Communiquer le temps nécessaire pour ce look afin de permettre le client d'estimer le budget.</p>
                </div>
            </div>
            <div class="row general-row">
                <div class="col-md-12 text-left">
                    <h4>Budget minimum</h4>
                    <p>Si vous avez une idée de budget minimum, hors le coût de ce service, communiquez le montant approximatif. C'est une information optionnelle, mais très utile pour le client.</p>
                </div>
            </div>
            <div class="row general-row">
                <div class="col-md-12 text-left">
                    <h4>Déscription</h4>
                    <p>Décrivez ce look en détails, ainsi rendez le plus attractif (minimum 200 caractères).</p>
                </div>
            </div>
        </div>
    </div>
</div>
