<script type="text/javascript" src="../js/evaluate.js"></script>
<link rel="stylesheet" href="../css/fontawesomestarso.css">
<script type="text/javascript" src="../js/jquery.barrating.js"></script>
    <div class="container">
        <div class="notationdiv">
            <div class="row">
                <div class="col-md-12 text-right">
                    <p>{{this.demandTime}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 text-center">
                    <div class="messages-avatar" {{#if this.userAvatar}} style="background-image: url({{this.userAvatar}})" {{else}} style="background-image: url(/images/noavatar.png)"{{/if}}></div>
                </div>
                <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9 text-center">
                    <p class="paragraphzero leaveReview">Evaluer {{this.userName}}</p>
                    <p class="paragraphzero">Stylebox: {{this.styleboxTitle}}</p>
                    <p class="paragraphzero">Le: {{this.makeover}}</p>
                </div>
            </div>
            <div class="row userevalrow evaluerblockpadding">
                <div class="col-md-12">
                    <p class="leaveComment">Laissez votre commentaire:</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 general-row">
                    <textarea class="mainLoginInput eval-comment-text" placeholder="Dites ce que vous pensez de cette expérience? "></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 general-row">
                    <button class="btn btn-default demand-btn" id="evaluateUserBtn" type="button" data-stylebox-id="{{this.styleboxId}}" data-user-id="{{this.userId}}" data-eval-id="{{this.evalId}}">Laisser mon avie</button>
                </div>
            </div>
        </div>
    </div>
