<a href="/stylebox/{{this.id}}">
  <div class="rating stylist-masonry stylist-sizer" data-stylebox-id="{{this.id}}" data-rating-value="{{this.rating}}">

    <img src="{{this.stylistava}}" alt="">
    <div class=" text-center">
      <h3>{{this.price}}€ / h</h3>
      <select class=" general-rating-{{this.id}}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="stylist-expereince-name">
      <p>{{this.description}}</p>
      <h5 class="text-right">{{this.lastName}}</h5>
    </div>
  </div>
</a>
<link rel="stylesheet" href="./css/stylebox.css">
